[submodule "libft"]
	path = libft
	url = https://github.com/gundz/libft.git
[submodule "data/libft"]
	path = data/libft
	url = https://github.com/gundz/libft.git
[submodule "libft_srcs"]
	path = libft_srcs
	url = https://github.com/gundz/libft.git
